@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
nav {
  z-index: 9;
  display: flex;
  position: fixed;
  width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color:#212529;
  }

#logo {
    height: 50px;
    margin-top: 5px !important;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
nav a:hover{
    background: black;
}
li a i{
  padding-right: 7px;
}
li a{
  padding: 15px;
  transition: all 1s ease;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: #2D3238;

}

.video{
  border-radius: 20px;
}





/* about */
#about{
  height: 800px;

}
.container{
  margin-top: 50px;
}
.container h2{
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  max-width: 95%;
  width: 90%;
  margin: auto;
  text-align: justify;
}


.card .card-content {
  padding: 2px 16px;
}



/* contact */
#contact h2{
  text-align: center;
  font-size: 50px;
}
#contact .content{
  margin-top: 40px;
}
#contact ul{
  display: flex;
  justify-content: center;
}
#contact li{
  list-style: none;
}
#contact ul li i{
  font-size: 100px;
  margin: 30px;
}
#contact ul li a{
  color: black;
}




.portfolio #portfolio-flters {
  list-style: none;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  margin: 10px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  transition: all 0.3s;
  padding: 8px 20px;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #47b2e4;
  color: #fff;
}

#project .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}
#project .project-foto{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card.rounded {
  border-radius: 20px;
  margin: 20px;
  padding-bottom: 20px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.card .card-content {
  padding: 2px 16px;
}

.project-foto.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: calc(25% - 16px);
  margin: 8px;
  text-align: center;
}