@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
/* body{
  overflow: auto;
} */
nav {
  z-index: 9;
  display: flex;
  position: fixed;
  width: 100%;
    justify-content: space-around;
    align-items: center;
    background-color:#212529;
  }

#logo {
    height: 50px;
    margin-top: 5px !important;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
nav a:hover{
    background: black;
}
li a i{
  padding-right: 7px;
}
li a{
  padding: 15px;
  transition: all 1s ease;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2D3238;
  min-height: 100vh;

}

.video{
  border-radius: 20px;
}




/* about */
#about .container{
  position: relative;
  top: 150px;
  min-height: 100vh;

}
.container h2{
  margin-top: 100px;
}
.container h2{
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}
#about .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  max-width: 95%;
  width: 90%;
  margin: auto;
  text-align: justify;
}
#about .card .card-content {
  padding: 2px 16px;
}

/* contact */
#contact .container{
  position: relative;
  top: 150px;
  min-height: 100vh;

}
#contact h2{
  text-align: center;
  font-size: 50px;
}
#contact .content{
  margin-top: 40px;
}
#contact ul{
  display: flex;
  justify-content: center;
}
#contact li{
  list-style: none;
}
#contact ul li i{
  font-size: 100px;
  margin: 30px;
}
#contact ul li a{
  color: black;
}
#contact ul li a:hover{
  color:blue ;
}
#contact ul li a.purple:hover{
  color:rgb(220, 55, 241) ;
}
#contact ul li a.green:hover{
  color:#42CBA5;
}
#contact ul li a.red:hover{
  color:red;
}


/* project */
#project{
  background-color: #2D3238;
  position: relative;
  z-index: 5;

}
#project .container{
  position: relative;
  min-height: 100vh;
  top: 150px;
}
#project .container h2{
  color: white;
}

#project .title{
  text-align: center;
  margin-top: 5px;
  color: white;
  z-index: 5;
}
#project .project-image{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

#project .card {
  border: 1px solid #ccc;
  border-radius: 10px;
  display: inline-block;
    width: auto;
    margin: 10px;
  position: relative;

  
}

#project .card-header{
  background-color: #eee;
  padding: 10px;
  border-radius: 10px 10px 0 0;
}
#project .card-header h3{
  text-align: center;
}

#project .card-body {
  padding: 20px;
  height: 200px;
  overflow: hidden;
}
#project .card-body img{
  width: 300px;
  border-radius: 10px;
  height: auto;
}

#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

#popup-gambar {
  position: absolute;
  max-width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

#project .isi-popup{
  z-index: 55;
  position: relative;
}